// 992px - 1199px
@media (min-width: 992px) and (max-width: 1199px) {

    .contact {
        padding: 100px 0 150px 0 ;
        background-image: url(../img/contact/contact-img.png), linear-gradient(252.91deg, #E3E7F6 3.68%, rgba(227, 231, 246, 0) 97.82%);
        background-position: right 10% bottom ;
        background-repeat: no-repeat;
       
        &__text{
            width: 502px;
        }
   
        &__btn{
            margin-top: 40px;
            width: 158px; 
        }
      
      
      }
    
    .form-block{
        padding: 102px 0 166px 0;
        &__wrap{
            display: flex;
            gap: 122px;
        }
      
    
        &__country{
            display: flex;
            flex-direction: column;
            gap: 72px;
            align-self: flex-end;
        }
         &__country-item{
                width: 253px;
         }
        &__country-title{
                    display: flex;
                    gap: 20px;
                    padding-bottom: 25px;
                    p{
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 150%;
                        color: #000;
                       
                    }
                }
         &__country-txt{
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 150%;
                    color: #000;   
                }
            }
        
    
    
    .form{
        background: #FFFFFF;
        box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.07), 0px 25px 35px rgba(22, 23, 72, 0.05);
        border-radius: 8px;
        width: 539px;
        padding: 52px 48px 55px 48px;
    &__ipb{
            label{
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                color: #8F90A6;
                padding-bottom: 6px;
            }
            input{
                background: #FFFFFF;
                border: 1px solid #E3E7F6;
                border-radius: 6px;
                width: 443px;
                height: 60px;
                margin-bottom: 30px;
            
            }
            textarea{
                background: #FFFFFF;
                border: 1px solid #E3E7F6;
                border-radius: 6px;
                width: 443px;
                height: 148px;
                margin-bottom: 30px;
            }
            }
      
    }
}
    // 768px - 991px
    @media (min-width: 768px) and (max-width: 991px) {
        .contact {
            padding: 200px 0 150px 0 ;
            background-image: url(../img/contact/contact-img.png), linear-gradient(252.91deg, #E3E7F6 3.68%, rgba(227, 231, 246, 0) 97.82%);
            background-position: right 10% bottom ;
            background-repeat: no-repeat;
           
            &__text{
                width: 502px;
            }
            &__title{
                color: #000;
             }
            &__subtitle{
                color: #000;
             }
            &__btn{
                margin-top: 40px;
                width: 130px;
                
            }
          
          
          }
        
        .form-block{
            padding: 102px 0 166px 0;
            &__wrap{
                display: flex;
                gap: 60px;
            }
          
        
            &__country{
                display: flex;
                flex-direction: column;
                gap: 72px;
                align-self: flex-end;
            }
             &__country-item{
                    width: 253px;
             }
            &__country-title{
                        display: flex;
                        gap: 20px;
                        padding-bottom: 25px;
                        p{
                            font-weight: 200;
                            font-size: 14px;
                            line-height: 150%;
                            color: #000;
                           
                        }
                    }
             &__country-txt{
                        font-weight: 200;
                        font-size: 14px;
                        line-height: 150%;
                        width: 200px;
                        color: #000;   
                    }
                }
   
        .form{
            background: #FFFFFF;
            box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.07), 0px 25px 35px rgba(22, 23, 72, 0.05);
            border-radius: 8px;
            width: 539px;
            padding: 52px 48px 55px 48px;
        &__ipb{
            display: flex;
            flex-direction: column;
        
                label{
                    font-weight: 200;
                    font-size: 14px;
                    line-height: 150%;
                    color: #8F90A6;
                    padding-bottom: 6px;
                }
                input{
                    background: #FFFFFF;
                    border: 1px solid #E3E7F6;
                    border-radius: 6px;
                    width: 353px;
                    height: 55px;
                    margin-bottom: 30px;
                
                }
                textarea{
                    background: #FFFFFF;
                    border: 1px solid #E3E7F6;
                    border-radius: 6px;
                    width: 350px;
                    height: 120px;
                    margin-bottom: 30px;
                }
                }
            &__btn{
                width: 150px;
            }
        }
     
          
    }
    
    @media (min-width: 576px) and (max-width: 767px) {
        .contact {
            padding: 200px 0 150px 0 ;
            background-image: url(../img/contact/contact-img.png), linear-gradient(252.91deg, #E3E7F6 3.68%, rgba(227, 231, 246, 0) 97.82%);
            background-position: right 10% bottom ;
            background-repeat: no-repeat;
           
            &__text{
                width: 502px;
            }
            &__title{
                color: #000;
             }
            &__subtitle{
                color: #000;
             }
            &__btn{
                margin-top: 40px;
                width: 130px;
                
            }
          
          
          }
        
        .form-block{
            padding: 102px 0 166px 0;
            &__wrap{
                display: flex;
                gap: 60px;
            }
          
        
            &__country{
                display: flex;
                flex-direction: column;
                gap: 72px;
                align-self: flex-end;
            }
             &__country-item{
                    width: 253px;
             }
            &__country-title{
                        display: flex;
                        gap: 20px;
                        padding-bottom: 25px;
                        p{
                            font-weight: 200;
                            font-size: 14px;
                            line-height: 150%;
                            color: #000;
                           
                        }
                    }
             &__country-txt{
                        font-weight: 200;
                        font-size: 14px;
                        line-height: 150%;
                        width: 200px;
                        color: #000;   
                    }
                }
            
        
        
        .form{
            background: #FFFFFF;
            box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.07), 0px 25px 35px rgba(22, 23, 72, 0.05);
            border-radius: 8px;
            width: 539px;
            padding: 52px 48px 55px 48px;
        &__ipb{
            display: flex;
            flex-direction: column;
        
                label{
                    font-weight: 200;
                    font-size: 14px;
                    line-height: 150%;
                    color: #8F90A6;
                    padding-bottom: 6px;
                }
                input{
                    background: #FFFFFF;
                    border: 1px solid #E3E7F6;
                    border-radius: 6px;
                    width: 353px;
                    height: 55px;
                    margin-bottom: 30px;
                
                }
                textarea{
                    background: #FFFFFF;
                    border: 1px solid #E3E7F6;
                    border-radius: 6px;
                    width: 350px;
                    height: 120px;
                    margin-bottom: 30px;
                }
                }
            &__btn{
                width: 150px;
            }
        }
    }