.connect{
  
    padding: 128px 0 0px 0;
    &__wrap{
        display: flex;
        justify-content: space-between;
        gap: 80px;
    }
    &__content{
        align-self: center;
        max-width: 570px;
    }
   
 &__title{
        color: $primaryDark;
        font-weight: 700;
        font-size: 48px;
        line-height: 62px;
        }
        &__subtitle{
            font-weight: 400;
            font-size: 22px;
            line-height: 33px;
            color: $color-txt;
            width: 390px;
            padding-top: 32px;
            padding-bottom:40px ;
        }
    &__btn{
        display: flex;
        gap: 20px;
    }
    &__img{
        img{
        
        
        }
    }
}

.form{
    padding: 102px 0 166px 0;
    &__wrap{
        display: flex;
        gap: 122px;
    }
    &__block{
        background: #FFFFFF;
        box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.07), 0px 25px 35px rgba(22, 23, 72, 0.05);
        border-radius: 8px;
        width: 539px;
        padding: 52px 48px 55px 48px;
.ipb{
    label{
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #8F90A6;
        padding-bottom: 6px;
    }
    input{
        background: #FFFFFF;
        border: 1px solid #E3E7F6;
        border-radius: 6px;
        width: 443px;
        height: 60px;
        margin-bottom: 30px;
       
    }
    textarea{
        background: #FFFFFF;
        border: 1px solid #E3E7F6;
        border-radius: 6px;
        width: 443px;
        height: 148px;
        margin-bottom: 30px;
    }
}
      
    }

    &__country{
        display: flex;
        flex-direction: column;
        gap: 72px;
        align-self: flex-end;
        .country-block{
            width: 253px;
            .title{
                display: flex;
                gap: 20px;
                padding-bottom: 25px;
                p{
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 150%;
                    color: #000;
                   
                }
            }
            p{
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                color: #000;
               
            }
        }
    }
}