@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1152px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
@media (max-width: 991.98px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 479.98px) {
  .container {
    max-width: none;
  }
}

body.locked {
  overflow: hidden;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.first-screen-wrap {
  background: linear-gradient(252.91deg, #E3E7F6 3.68%, rgba(227, 231, 246, 0) 97.82%);
}

.btn {
  padding: 14px 32px;
  border-radius: 6px;
  color: white;
  transition: all 0.24s ease-in-out;
}
.btn--red {
  background-color: #BF0830;
  color: white;
}
.btn--outline {
  background-color: transparent;
  color: #BF0830;
  border: 1px solid #BF0830;
}
.btn--outline:hover {
  color: white;
  background: #BF0830;
}

.btn-2 {
  color: #BF0830;
  padding: 14px 32px;
  border-radius: 6px;
  border: 1px solid #BF0830;
}
.btn-2:hover {
  background: rgb(153, 45, 45);
  color: white;
}

.wh {
  width: 345px;
  height: 278px;
}

.wh-2 {
  width: 345px;
  height: 251px;
}

.wh-3 {
  width: 345px;
  height: 273px;
}

.burger {
  display: none;
  cursor: pointerфігня;
}

@media screen and (max-width: 991.98px) {
  .menu {
    position: fixed;
    background: #131418;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: none;
  }
  .menu.active {
    display: flex;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    pointer-events: all;
    justify-content: center;
    align-items: center;
    z-index: 2;
    animation: fade 0.1s linear;
  }

  .burger {
    display: block;
    position: relative;
    height: 20px;
    width: 30px;
    z-index: 3;
    cursor: pointer;
  }
  .burger.active-burger:before {
    background: white;
    transform: rotate(45deg);
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    top: 8px;
  }
  .burger.active-burger:after {
    background: white;
    transform: rotate(-45deg);
    bottom: 10px;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }
  .burger.active-burger span {
    transform: scale(0);
  }
  .burger:before, .burger:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background: #BF0830;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }
  .burger:before {
    top: 0;
  }
  .burger::after {
    bottom: 0;
  }
  .burger span {
    position: absolute;
    top: 9px;
    right: 0;
    width: 100%;
    background: #BF0830;
    height: 2px;
    transform: scale(1);
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .menu__item {
    margin-top: 20px;
  }

  .menu__item-link {
    color: #646A89;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }
  .menu__item-link:last-child {
    background: none;
  }
}
.header__menu {
  display: flex;
  justify-content: space-between;
}
.header__logo {
  align-self: center;
}
.header nav {
  overflow: hidden;
}
.header__navbar {
  padding: 24px 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
}
.menu__item {
  margin-left: 60px;
}
.menu__item:last-child {
  color: white;
}
.menu__item-link {
  color: #646A89;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.sec-1 {
  position: relative;
  margin-top: 90px;
  padding: 129px 0 0px 0;
}
.sec-1__wrap {
  display: flex;
  justify-content: space-between;
}
.sec-1__content {
  align-self: start;
  max-width: 570px;
}
.sec-1__title {
  color: #1A2578;
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;
}
.sec-1__sub-title {
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  color: #484C63;
  width: 520px;
  padding-top: 32px;
  padding-bottom: 40px;
}
.sec-1__btn {
  display: flex;
  gap: 20px;
}
.sec-2 {
  margin-top: 90px;
  padding-bottom: 130px;
  border-bottom: 1px solid rgba(197, 203, 226, 0.5);
}
.sec-2 h2 {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 57px;
  color: #1A2578;
}
.sec-2 h2 span {
  color: #BF0830;
}
.sec-2__wrap {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sec-3 {
  margin-top: 106px;
}
.sec-3__txt {
  text-align: center;
}
.sec-3__txt h2 {
  font-weight: 700;
  font-size: 44px;
  line-height: 57px;
  color: #1A2578;
}
.sec-3__txt p {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #484C63;
  padding-top: 16px;
}
.sec-3__wrap {
  margin-top: 97px;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.sec-3__block {
  overflow: hidden;
  background: #FFFFFF;
  box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.07), 0px 25px 35px rgba(22, 23, 72, 0.08);
  border-radius: 8px;
  width: 538px;
  height: 530px;
}
.sec-3__block .content {
  padding-top: 65px;
  padding-left: 65px;
}
.sec-3__block .content .title {
  padding-bottom: 44px;
}
.sec-3__block .content p {
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  color: #3A3A3C;
  padding-bottom: 32px;
}
.sec-3__block button {
  position: relative;
}
.sec-3__block button img {
  position: absolute;
  left: 10px;
}
.sec-3__img {
  padding-right: 20px;
  padding-left: 10px;
}
.sec-3__img-2 {
  padding-right: 21px;
  padding-left: 44px;
}

.sec-4 {
  margin-top: 108px;
  background: linear-gradient(268.52deg, #E3E7F6 -52.27%, rgba(227, 231, 246, 0) 138.23%);
}
.sec-4__wrap {
  padding-top: 73px;
  display: flex;
  justify-content: space-between;
}
.sec-4__content {
  width: 416px;
  align-self: center;
}
.sec-4__content h2 {
  font-weight: 700;
  font-size: 44px;
  line-height: 57px;
  color: #1A2578;
  padding-bottom: 16px;
}
.sec-4__content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #484C63;
}
.sec-4__img {
  width: 559px;
  height: 558px;
}

.sec-5__txt {
  padding-top: 120px;
  text-align: center;
  padding-bottom: 125px;
}
.sec-5__txt h2 {
  font-weight: 700;
  font-size: 44px;
  line-height: 57px;
  color: #1A2578;
  padding-bottom: 16px;
}
.sec-5__txt p {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #484C63;
}
.sec-5 .buttons {
  display: flex;
  gap: 20px;
}
.sec-5 .buttons .swiper-prev:active {
  background: #000;
}
.sec-5 .buttons .swiper-next:active {
  background: #000;
}

.sec-6 {
  margin-top: 108px;
  background: linear-gradient(335.73deg, #E3E7F6 12.46%, rgba(227, 231, 246, 0) 84.19%);
}
.sec-6__wrap {
  padding-top: 73px;
  display: flex;
  justify-content: space-between;
}
.sec-6__content {
  width: 343px;
  align-self: center;
}
.sec-6__content h2 {
  font-weight: 700;
  font-size: 44px;
  line-height: 57px;
  color: #1A2578;
  padding-bottom: 16px;
}
.sec-6__content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #484C63;
  margin-bottom: 20px;
}
.sec-6__img {
  width: 559px;
  height: 558px;
}

.footer {
  background: #0D123C;
}
.footer__wrap {
  padding-top: 65px;
  display: flex;
  justify-content: space-between;
}
.footer__logo p {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: white;
  width: 287px;
  padding-top: 29px;
}
.footer ul {
  -webkit-column-count: 3;
  column-count: 3;
  column-gap: 100px;
}
.footer ul li {
  padding-bottom: 21px;
}
.footer ul li .social {
  display: flex;
  gap: 15px;
}
.footer ul li a {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: white;
}
.footer .footer__links {
  margin-top: 103px;
  width: 100%;
  border-top: 1px solid rgba(197, 203, 226, 0.5);
  padding-top: 29px;
  padding-bottom: 38px;
}
.footer .footer__links .link-wrap {
  display: flex;
  justify-content: space-between;
}
.footer .footer__links .link-wrap p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: white;
}

.sec-work {
  position: relative;
  padding: 172px 0 0 0;
}
.sec-work__wrap {
  display: flex;
  justify-content: space-between;
  gap: 106px;
}
.sec-work__content {
  align-self: center;
}
.sec-work__title {
  color: #1A2578;
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;
  width: 466px;
}
.sec-work__subtitle {
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  color: #484C63;
  width: 444px;
  padding-top: 32px;
  padding-bottom: 40px;
}
.sec-work__btn {
  display: flex;
  gap: 20px;
}
.cookies {
  margin-top: 101px;
}
.cookies__wrap {
  display: flex;
  flex-direction: column;
  gap: 111px;
}
.cookies__blocks {
  display: flex;
  justify-content: space-between;
}
.cookies__content {
  width: 416px;
  align-self: center;
}
.cookies__content img {
  padding-bottom: 40px;
}
.cookies__content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #484C63;
}
.cookies__content p:last-child {
  padding-top: 20px;
}
.cookies__img {
  width: 564px;
  height: 558px;
}

.build {
  margin-top: 52px;
  padding: 137px 0;
  background: linear-gradient(342.12deg, #E3E7F6 -6.53%, rgba(227, 231, 246, 0) 87.81%);
}
.build__txt {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.build__txt h2 {
  font-weight: 700;
  font-size: 44px;
  line-height: 62px;
  color: #1A2578;
  padding-bottom: 20px;
  width: 658px;
}
.build__txt p {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #484C63;
}
.build__button {
  padding-top: 40px;
  display: flex;
  gap: 30px;
}

.about {
  position: relative;
  padding: 175px 0 0px 0;
}
.about__wrap {
  display: flex;
  justify-content: space-between;
  gap: 80px;
}
.about__content {
  align-self: center;
  max-width: 570px;
}
.about__title {
  color: #1A2578;
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;
}
.about__subtitle {
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  color: #484C63;
  width: 390px;
  padding-top: 32px;
  padding-bottom: 40px;
}
.about__btn {
  display: flex;
  gap: 20px;
}
.sec-2 .sec-2__expierence {
  padding-top: 150px;
  padding-bottom: 45px;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.sec-2 .sec-2__expierence .blocks {
  position: relative;
  background: #FFFFFF;
  box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.07), 0px 25px 35px rgba(22, 23, 72, 0.05);
  border-radius: 8px;
  width: 316px;
  height: 318px;
  padding-top: 53px;
  padding-bottom: 0;
}
.sec-2 .sec-2__expierence .blocks h2 {
  font-weight: 700;
  font-size: 56px;
  line-height: 62px;
  padding-bottom: 18px;
  color: #1A2578;
}
.sec-2 .sec-2__expierence .blocks p {
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  color: #484C63;
  text-align: center;
}
.sec-2 .sec-2__expierence .blocks img {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.culture {
  background: linear-gradient(268.52deg, #E3E7F6 -52.27%, rgba(227, 231, 246, 0) 138.23%);
}
.culture__txt {
  padding-top: 65px;
  text-align: center;
}
.culture__txt h2 {
  font-weight: 700;
  font-size: 44px;
  line-height: 62px;
  color: #1A2578;
  padding-bottom: 16px;
}
.culture__txt p {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #484C63;
}
.culture__wrap {
  padding-top: 97px;
  display: flex;
  flex-wrap: wrap;
  gap: 37px;
}
.culture__blocks {
  padding: 40px;
  background: #FFFFFF;
  box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.07), 0px 25px 35px rgba(22, 23, 72, 0.05);
  border-radius: 8px;
}
.culture__blocks h3 {
  font-size: 28px;
  line-height: 31px;
  color: #3A3A3C;
  padding-bottom: 32px;
}
.culture__blocks p {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #484C63;
}
.culture__about {
  padding-top: 97px;
  padding-bottom: 108px;
  display: flex;
  gap: 57px;
}
.culture__about-txt {
  align-self: center;
}
.culture__about-txt h2 {
  font-weight: 700;
  font-size: 44px;
  line-height: 57px;
  color: #1A2578;
  padding-bottom: 16px;
}
.culture__about-txt p {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #484C63;
  padding-bottom: 30px;
}
.culture__about-txt p:last-child {
  padding-bottom: 0;
}

.deal {
  margin: 121px 0;
}
.deal__line {
  display: flex;
  gap: 60px;
}
.deal__about-txt {
  align-self: center;
}
.deal__about-txt h2 {
  font-weight: 700;
  font-size: 44px;
  line-height: 57px;
  color: #1A2578;
  padding-bottom: 16px;
}
.deal__about-txt p {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #484C63;
  padding-bottom: 30px;
}
.deal__about-txt p:last-child {
  padding-bottom: 0;
}

.hiring {
  background: linear-gradient(268.52deg, #E3E7F6 -52.27%, rgba(227, 231, 246, 0) 138.23%);
  padding: 150px;
}
.hiring__wrap {
  display: flex;
  gap: 130px;
}
.hiring__txt {
  align-self: center;
}
.hiring__txt h2 {
  font-weight: 700;
  font-size: 44px;
  line-height: 57px;
  color: #1A2578;
  padding-bottom: 16px;
}
.hiring__txt p {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #484C63;
  padding-bottom: 40px;
}
.hiring__btn {
  position: relative;
}
.hiring__btn img {
  position: absolute;
  top: 56px;
  right: 53px;
}

.dreamers {
  position: relative;
  padding: 175px 0 0px 0;
}
.dreamers__wrap {
  display: flex;
}
.dreamers__title {
  color: #1A2578;
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;
  width: 465px;
  padding-bottom: 40px;
}
.dreamers__title span {
  color: #BF0830;
}

.offer {
  margin-top: 120px;
}
.offer__txt {
  text-align: center;
}
.offer__txt h2 {
  font-weight: 700;
  font-size: 44px;
  line-height: 62px;
  color: #1A2578;
  padding-bottom: 16px;
}
.offer__txt p {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #484C63;
}
.offer__wrap {
  padding-top: 109px;
  padding-bottom: 42px;
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
}
.offer__block {
  background: #FFFFFF;
  box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.07), 0px 25px 35px rgba(22, 23, 72, 0.05);
  border-radius: 8px;
  padding: 46px 40px 40px 40px;
  width: 345px;
  height: 264px;
}
.offer__block p {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #484C63;
}
.offer__block .block-title {
  align-items: center;
  display: flex;
  gap: 10px;
  padding-bottom: 38px;
}
.offer__block .block-title img {
  width: 44px;
  height: 44px;
}
.offer__block .block-title h3 {
  font-size: 28px;
  line-height: 31px;
  color: #3A3A3C;
}

.life-mozi {
  background: linear-gradient(270.76deg, #E3E7F6 -55.5%, rgba(227, 231, 246, 0) 145.36%);
  padding: 50px;
}
.life-mozi__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 35px;
}
.life-mozi__block img {
  border-radius: 11px;
}
.life-mozi__block .block-content h2 {
  font-weight: 700;
  font-size: 44px;
  line-height: 62px;
  color: #1A2578;
  width: 124px;
  padding-bottom: 16px;
}
.life-mozi__block .block-content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #484C63;
  width: 323px;
}

.recommends {
  margin-top: 56px;
}
.recommends__line {
  background: #F7F8FF;
  box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.07), 0px 25px 35px rgba(22, 23, 72, 0.05);
  border-radius: 8px;
  padding: 50px 122px 50px 70px;
  display: flex;
  justify-content: space-between;
}
.recommends__line .percent {
  display: flex;
  gap: 27px;
  align-self: center;
}
.recommends__line .percent p {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #1A2578;
  width: 443px;
  align-self: center;
}
.recommends__line .stars h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #0CAA41;
  padding-bottom: 14px;
}
.recommends__line .stars .stars-block {
  display: flex;
  padding-bottom: 9px;
  gap: 5px;
}
.recommends__line .stars .stars-block img {
  width: 35px;
  height: 35px;
  align-self: center;
}
.recommends__line .stars .stars-block p {
  font-weight: 700;
  font-size: 36px;
  line-height: 62px;
  color: #000;
}
.recommends__line .stars a {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #424B5A;
}
.recommends__line .stars a img {
  margin-top: 3px;
}

.join {
  padding: 127px 0 44px 0;
}
.join__txt {
  text-align: center;
}
.join__txt h2 {
  font-weight: 700;
  font-size: 44px;
  line-height: 62px;
  color: #1A2578;
  padding-bottom: 16px;
}
.join__txt p {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #484C63;
}
.join__wrap {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.join__block {
  padding: 35px 60px 35px 60px;
  background: #FFFFFF;
  box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.07), 0px 17px 35px rgba(22, 23, 72, 0.05);
  border-radius: 8px;
  width: 1105px;
  height: 148px;
  display: flex;
  justify-content: space-between;
}
.join__block .block-btn {
  display: block;
  width: 150px;
  height: 52px;
}
.join__profession h4 {
  font-weight: 400;
  font-size: 28px;
  line-height: 27px;
  color: #484C63;
}
.join__profession .desc {
  padding-top: 24px;
  display: flex;
  gap: 25px;
}
.join__profession .desc .item {
  display: flex;
  gap: 11px;
}
.join__profession .desc .item p {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #8F90A6;
}
.join__btn {
  display: block;
  margin: auto;
  margin-top: 68px;
}

.write {
  padding: 112px 0;
  background: linear-gradient(342.12deg, #E3E7F6 -6.53%, rgba(227, 231, 246, 0) 87.81%);
}
.write__txt {
  text-align: center;
}
.write__txt h2 {
  font-weight: 700;
  font-size: 44px;
  line-height: 62px;
  color: #1A2578;
  padding-bottom: 16px;
}
.write__txt p {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #484C63;
  padding-bottom: 40px;
}
.write__btn {
  display: block;
  margin: auto;
}

.connect {
  padding: 128px 0 0px 0;
}
.connect__wrap {
  display: flex;
  justify-content: space-between;
  gap: 80px;
}
.connect__content {
  align-self: center;
  max-width: 570px;
}
.connect__title {
  color: #1A2578;
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;
}
.connect__subtitle {
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  color: #484C63;
  width: 390px;
  padding-top: 32px;
  padding-bottom: 40px;
}
.connect__btn {
  display: flex;
  gap: 20px;
}
.form {
  padding: 102px 0 166px 0;
}
.form__wrap {
  display: flex;
  gap: 122px;
}
.form__block {
  background: #FFFFFF;
  box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.07), 0px 25px 35px rgba(22, 23, 72, 0.05);
  border-radius: 8px;
  width: 539px;
  padding: 52px 48px 55px 48px;
}
.form__block .ipb label {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #8F90A6;
  padding-bottom: 6px;
}
.form__block .ipb input {
  background: #FFFFFF;
  border: 1px solid #E3E7F6;
  border-radius: 6px;
  width: 443px;
  height: 60px;
  margin-bottom: 30px;
}
.form__block .ipb textarea {
  background: #FFFFFF;
  border: 1px solid #E3E7F6;
  border-radius: 6px;
  width: 443px;
  height: 148px;
  margin-bottom: 30px;
}
.form__country {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-self: flex-end;
}
.form__country .country-block {
  width: 253px;
}
.form__country .country-block .title {
  display: flex;
  gap: 20px;
  padding-bottom: 25px;
}
.form__country .country-block .title p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000;
}
.form__country .country-block p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000;
}

/*# sourceMappingURL=style.css.map */
